#permission_type{
    font-size: 0.8em;
}

table{
    width: 100%;
    text-align: left;
}

button {
    font-size: 1.2em;
}

#shares_table .data{
    font-size: 1.5em;
}


tr,th,td{
    padding: 0.2em;
    margin: 0;
    font-size: 1em;
}


#col-left{
    min-width: 400px;
}
#col-center-left{
    min-width: 200px;
}

#col-center-right{
    min-width: 400px;
}

#col-right{
    min-width: 280px;
}

