input[type=submit],input[type=submit]:hover{
    background: #707070;
}

button:hover{
    background: #3d7829;
}

input[type=submit],button {
    font-size: 1em;
}

#filename_shower{
    color: #8e8e8e;
    display:none;
}