td{
    padding: 0.2em;
}

table{
    width: 100%;
    font-size: 1em;
    text-align: left;
}

#div-table1{
    overflow:auto;
}
#div-table2{
    overflow:auto;
}


@media only screen and (min-width: 750px) and (max-resolution: 200dpi) {

    table{
        font-size: 1.5em;
    }
}