td{
    padding: 0.2em;
}

table{
    width: 100%;
    font-size: 1em;
    text-align: left;
}

#div-table1{
    overflow:auto;
}
#div-table2{
    overflow:auto;
}

/*todo: zmienic na zaleznosc od zageszczenia pikseli*/
@media only screen and ( min-width: 800px ) {

    table{
        font-size: 1.5em;
    }
}