td{
    padding: 0.2em;
}

input[type=submit] {
    font-size: 0.5em;
}

#submit-add-friend{
    font-size: 1em;
}


table{
    width: 100%;
    font-size: 1em;
}

#left-column {
    min-width: 600px;
}

#right-column{
    min-width: 250px;
}


@media screen and (min-device-width: 750px) and (max-resolution: 200dpi)
{

    table{
    font-size: 1.5em;
    }


    #submit-add-friend{
        font-size: 1em;
    }
}