/* reset domyślnych ustawień przeglądarki */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/*.clearfix:after {
    content: "";
    display: table;
    clear: both;
}*/

html{
    height:100%;
}

body{
    margin:0;
    padding:0;
    background:#3fc142;
    font-family: 'Advent Pro';
    color: white;
    font-size: 150%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#header{
    background: #329c35;
    height:120px;
    text-align: center;
}

header h1{
    margin: 0;
    padding-top:30px;
    font-family: 'Comfortaa';
    font-size: 3em;
}

main{
    overflow:hidden;
    min-height: 75vh;
    flex: 1 0 auto;
}

.innertube{
    margin:1em;
    margin-top: 0;
    overflow: hidden;
}


/* grid */
.row {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -10px;
    margin-bottom: 10px;
    text-align: center;
}

.row:last-child {
    margin-bottom: 0;
}

[class*="col-"] {
    padding: 10px;
    width: 100%;
}

.row h1{
    font-family: 'Comfortaa';
    font-size: 2em;
}

.row form{
    font-size: 1.5em;
}

#main-row{
    margin-top:0;
}

input[type=text]{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    width: 90%;
    height: 1.75em;
    font-size: 1em;
    font-family: 'Advent Pro';
    border-radius: 5px;
    border-width: 0;
}
input[type=password]{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    width: 90%;
    height: 1.75em;
    font-size: 1em;
    font-family: 'Advent Pro';
    border-radius: 5px;
    border-width: 0;
}

input[type=submit] {
    width: 90%;
    padding:5px 15px;

    border:0 none;
    cursor:pointer;
    border-radius: 5px;
    font-size: 0.8em;
    font-family: 'Advent Pro';
    color: white;
}

#login-submit{
    background: darkred;
}

#register-submit{
    background: #5a9f33;
}

#column-left{
    background-color: #3fc142;
}

#column-left h2{
    margin:0;
    padding-top:1em;
    font-size: 2em;
    text-align: center;
    font-family: "Poiret One";
}

#column-center{
    background-color: #94da4d;
}

#column-right{
    background-color: orangered;
}

footer{
    overflow: hidden;
}

#footer{
    background:#329c35;
    width:100%;
    height:120px;

    text-align: center;
    flex: none;
    font-family: 'Poiret One';
    font-size: 1.5em;
    padding-top: 1em;

}


/*todo: zmienic na zaleznosc od zageszczenia pikseli*/
@media handheld, tv {
    body{
        font-size: 150%;
    }

    [class*="col-"] {
        width: 100%;
    }
}


@media only screen and ( min-width: 800px ) {

    body{
        font-size: 100%;
    }

    #main-row{
        margin-top:5em;
    }

    [class*="col-"] {
    }

    /* set col widths */
    .col-4-10 {
        width: 40%;
    }
    .col-6-10 {
        width: 60%;
    }
    .col-3-10 {
        width: 30%;
    }

    .col-1-2{
        width:50%;
    }

    .row{
        text-align: left;
    }
}