.row h1{
    font-family: 'Comfortaa';
    font-size: 2em;
}

.row form{
    font-size: 1.5em;
}

#main-row{
    margin-top:0;
}

input[type=text]{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    width: 90%;
    height: 1.75em;
    font-size: 1em;
    font-family: 'Advent Pro';
    border-radius: 5px;
    border-width: 0;
}
input[type=password]{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    width: 90%;
    height: 1.75em;
    font-size: 1em;
    font-family: 'Advent Pro';
    border-radius: 5px;
    border-width: 0;
}

input[type=submit] {
    width: 90%;
    padding:5px 15px;

    border:0 none;
    cursor:pointer;
    border-radius: 5px;
    font-size: 0.8em;
    font-family: 'Advent Pro';
    color: white;
}

#login-submit{
    background: darkred;
}

#register-submit{
    background: #5a9f33;
}

#column-left{
    background-color: #3fc142;
}

#column-left h2{
    margin:0;
    padding-top:1em;
    font-size: 2em;
    text-align: center;
    font-family: "Poiret One";
}

#column-center{
    background-color: #94da4d;
}

#column-right{
    background-color: orangered;
}
