/* reset domyślnych ustawień przeglądarki */
*,
*:before,
*:after {
    box-sizing: border-box;
}



/*.clearfix:after {
    content: "";
    display: table;
    clear: both;
}*/

html{
    height:100%;
}

body{
    margin:0;
    padding:0;
    background:#3fc142;
    font-family: 'Advent Pro';
    color: white;
    font-size: 120%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

header{
    background: #329c35;
    height:7.5em;
    text-align: center;
}

header h1{
    margin: 0;
    padding-top:30px;
    font-family: 'Comfortaa';
    font-size: 3em;
    color: white;
}

header a{
    text-decoration: none;
}

#JSValidator{
    width: 100%;
    background-color: red;
    text-align: center;
    font-size: 1em;
}

main{
    overflow:hidden;
    min-height: 75vh;
    flex: 1 0 auto;
}

.innertube{
    /*margin:1em;*/
    margin: 0.9vw;
    margin-top: 0;
    overflow: hidden;
}


/* grid */
.row {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -10px;
    margin-bottom: 10px;
    text-align: center;
}

.row:last-child {
    margin-bottom: 0;
}

[class*="col-"] {
    padding: 10px;
    width: 100%;
}


footer{
    overflow: hidden;
}

#footer{
    background:#329c35;
    width:100%;
    height:5em;
    text-align: center;
    flex: none;
    font-family: 'Poiret One';
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

@media screen and (min-device-width: 750px) and (max-resolution: 200dpi)
{

    body{
        font-size: 100%;
    }

    #main-row{
        margin-top:0;
    }

    [class*="col-"]
    {

    }

    /* set col widths */
    .col-4-10 {
        width: 40%;
    }
    .col-6-10 {
        width: 60%;
    }

    .col-7-10 {
        width: 70%;
    }

    .col-8-10 {
        width: 80%;
    }
    .col-3-10 {
        width: 30%;
    }

    .col-1-2{
        width:50%;
    }

    .col-2-10 {
        width: 20%;
    }

    .col-1-10 {
        width: 10%;
    }

    .col-10-10 {
        width: 100%;
    }

    .row{
        text-align: left;
    }
}