php_flag display_errors on
php_flag html_errors on

SetEnv DB_PASS_HASH 1456488529


<files error.php>
order allow,deny
allow from all
</files>

<files connection_data.php>
order allow,deny
deny from all
</files>

ErrorDocument 400 /error.php?id=400
ErrorDocument 401 /error.php?id=401
ErrorDocument 403 /error.php?id=403
ErrorDocument 404 /error.php?id=404
ErrorDocument 500 /error.php?id=500
