body {
    background: #0f17ee;
}
#column-left{
    background: #0f15a3;;
}
header, #footer{
    background: #0f17ca;
}

#column-center{
    background-color: #2b2cff;
}
#column-right{
    background-color: #2b2cff;
}

#login-submit{
    background: darkred;
}

#login-submit:hover{
    background: #580000;
}

#register-submit{
    background: #5a9f33;
}

#register-submit:hover{
    background: #3d7829;
}


.row h1{
    font-family: 'Comfortaa';
    font-size: 2em;
}

.disp-feedback{
    margin-top: 1em;
    margin-bottom: 1em;
    display: none;
    padding: 1em;
    width: 100%;
}

.disp-feedback h3{
    margin:0;
    font-size: 1.5em;
    text-align: center;
}


#main-row .innertube{
    padding-left: 0.5em;
    padding-right: 0.5em;
}


.row form{
    font-size: 1.5em;
}

#main-row{
    margin-top:0;
}

input[type=text]{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    width: 100%;
    height: 1.75em;
    font-size: 1em;
    font-family: 'Advent Pro';
    border-radius: 0.2em;
    border-style: none;
    /*border: 2px solid #0fe314;*/
}
input[type=password]{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    width: 100%;
    height: 1.75em;
    font-size: 1em;
    font-family: 'Advent Pro';
    border-radius: 0.2em;
    border-width: 0;
}

input[type=submit] {
    width: 100%;
    padding:5px 15px;
    height: 2.1em;

    border:0 none;
    cursor:pointer;
    border-radius: 0.2em;
    font-size: 0.8em;
    font-family: 'Advent Pro';
    color: white;
}


#column-left h2{
    margin:0;
    padding-top:1em;
    font-size: 2em;
    text-align: center;
    font-family: "Poiret One";
}

.row,[class*="col-"],table,body,.innertube{
    overflow:auto;
}




footer span{
    font-size: 0.5em;
    text-align: right;
}

footer span:hover{
    text-decoration: underline;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

